@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: hsl(218, 41%, 15%);
}

.container {
  height: 100vh;
  width: 99vw;
  position: fixed;
}
.glasscontainer {
  width: 50vw;
  position: absolute;
  margin-left: -30%;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
.button {
  align: center;
  left: 40%;
}
.details {
  width: 94%;
  height: 22%;
  background-color: #000;
  margin-bottom: 2px;
  position: absolute;
  bottom: 0px;
  margin-left: 1%;
}
.top {
  margin-top: -2%;
}
.bg-glass {
  background-color: hsla(0, 0%, 90%, 0.3) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
.map {
  width: 100%;
  height: 81.9vh;
}
.leaflet-container {
  width: 100%;
  height: 72%;
  padding: 1.5rem;
  border-radius: 12px;
}
.dashbody {
  padding: 1.5rem;
  font-size: 24px;
}

.card {
  height: 100vh;
  width: 100vw;
  margin-top: 30px;
  position: relative;
}

.color {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

.margin {
  margin-top: 10%;
}
.height {
  height: 100vh;
}

.width {
  width: 100vw;
  margin-left: -20px;
  height: 100vh;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: 160px;
  left: 130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: 100px;
  right: 110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}
.cardcontainer {
  margin-top: 6%;
  height: 65vh;
  width: 100vw;
  margin-left: 20px;
}
.border {
  border-radius: 3px;
}
.borderred {
  border-radius: 3px;
}

.dashboard {
  float: left;
  width: 22%;
  height: 74%;
  margin-left: 1%;
  background-color: hsla(0, 0%, 90%, 0.3);
  border-radius: 12px;
  margin-right: 2%;
  transition: 2s;
  overflow-y: scroll;
}

.view {
  float: left;
  height: 75%;
  width: 70vw;
}
.firstwidth {
  width: 100vw;
  margin-left: -12px;
  position: fixed;
}
.card1 {
  margin-left: -50px;
  margin-top: -7%;
}
@media screen and (max-width: 600px) {
  .firstwidth {
    width: 100%;
  }
  .width {
    width: 100%;
  }
  .dashboard {
    width: 86vw;
  }
  .top {
    margin-top: -8%;
  }
  .view {
    width: 100%;
    height: 100%;
  }
  .map {
    width: 100%;
    height: 30vh;
    padding: 0.5rem;
  }
}

.infotab {
  height: 20%;
  position: absolute;
  bottom:3%;
  margin-left: 10%;
  border-radius: 12px;
  /* width: 60%; */
  transition: width 2s;
}
.busmap {
}

.infotabAfter {
  height: 20%;
  position: absolute;
  bottom: 2%;
  width: 70%;
  margin-left: 24%;
  border-radius: 12px;
  
  transition: 1s;
}
.dashboardAfter {
  float: left;
  width: 22%;
  height: 100%;
  margin-left: 1%;
  background-color: hsla(0, 0%, 90%, 0.3);
  border-radius: 12px;
  margin-right: 2%;
  transition: 1s;
  overflow:hidden;

}

.busdetails {
  width: 100%;
  height: 50%;
  color: #000;
  border-radius: 12px;
}
