@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

body {
  background-color: #0a1d2e;




}
.bus{
  margin-top:70px;
}
.main{
  color:#fff;
  

}
.header{
  border-style: solid;
  border-width: 1px;
  height:100px;
  max-width:100%;
  color:#fff;


}
.find{
  
  width:1530px;
  height:70px;
  


}
.text{
  color:#fff;
  font-size:40px;
  font-family: "Kanit", sans-serif;
  margin-left:30px;
  width:100%;
  height:70px;
  margin-top:120px;
 
}
.border{
  border-style: solid;
  border-width: 1px;
  color:#fff;
}
.table{
  display: table;
  width:100%;

}
.destination{
  margin-left:50px;
}
.source{
  float:left;
  margin-top:15px;
}
.source1{
  float:left;
  font-family: 'Abyssinica SIL', serif;
  font-size:25px;
margin-top:20px;
margin-left:30px;
}
.float1{
  float:left;
}
.float1{
  float:right;
  margin:20px;
}
.margin{
  margin-top:90px;
  position:center;
}


.green{
  border-style: solid;
  border-width: 1px;
  border-color:green;
}
