@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cabin:wght@700&family=Rasa:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");


h1 {
  font-family: "Kanit", sans-serif;
}
.card {
  background-color: #000;
  position: relative;
  width: 6000px;
  height: 700px;
  margin-right: 2px;
  margin-left: -200px;
  color: #fff;
}
.para {
  background-color: black;
  color: white;
}
.carousel {
  position: relative;
  object-fit: cover;
  margin-left: 1px;
  max-height: 100%;
  max-width: 100%;
}

.text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
.explore {
  font-family: "Kanit", sans-serif;
}


.top {
  height: 100vh;
  width: 100%;
}
.bg-glass {
  background-color: hsla(0, 0%, 90%, 0.3) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.color {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

.margin {
  margin-top: 10%;
}
.height {
  height: 100vh;
}

.width {
  width: 100vw;
}

.contentcontainer{
  height:100%;
  width:100vw;
  position:relative;
  color:#000;
  
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: 160px;
  left: 130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  height: 100px;
  width: 100px;
  top: 600px;
  left: 70px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}
.nameholder{
  min-width:70vw;
  display:inline-block;
  height:10vh;
  margin:0 auto;
  color:#000;
  /* text-align:center; */
  justify-content:center;

}

.mobilenavbarcontainer{
  height:10vh;
  width:100vw;
  position:top;
  display:flex;
  border: 1px solid black;

}
.title1 {
  /* width: 65%; */
  margin:auto auto;
  color:#000;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 1px;
  display:inline-block;
  margin-top:8%;
  margin-left:7%
}

.phonecontainer {
  width: 100%;
  height: 92vh;

}
.card {
  height: 100vh;
  border-radius: 21px;
}

.phonetitle {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  margin: 0 auto;
  margin-top:30%;
  
}
.mobilenavbar{
  position:relative;
  display:inline-block;
  float:right;
  margin:auto auto;
  width:25vw;
  height:10vh;
  position:relative;
}
.greettext{
  margin:auto auto;
}

.greetings{
  margin-top:5%;
  height:6%;
  border-radius:12px;
  padding:6px;
  margin-left:2%;
  font-size:25px;
  font-family: 'Archivo Black', sans-serif;
  /* background-color: hsla(0, 0%, 90%, 0.4) !important;
  backdrop-filter: saturate(200%) blur(25px); */
  color:#000;
}


@media screen and (max-width: 600px) {
  div.image {
    display: none;
  }
  div.navbarshow{
    display:none;
  }
  .phoneglass {
    height:100%;
    width:100vw;
    color: #fff;
    border-radius: 12px;

    position: relative;
    display:flex;
    
  }
  /* body{
    height:100vh;
  } */

  .top {
    height: 100vh;
  }
}
@media screen and (min-width: 992px) {
  div.title {
    display: none;
  }
  div.purple {
    display: none;
  }
  div.phoneglass{
    display:none;
  }
  div.mobilenavbar{
    display:none;
  }
  div.logo{
    display:none;
  }
  div.phonecontainer{
    display:none
  }
  div.nameholder{display:none}

}
