.main{
    height:100%;
    position:flex;
    /* border: black solid 1px; */
    border-radius:12px;
}

.parent-container{
    width:25%;
    height:100%;
    border-radius:12px;
    /* border: black solid 1px; */
    position:absolute;
    background-color:#fff;

}
.parent-subcontainer{
    height:10%;
    /* border:black solid 1px; */
    display:flex;
    border-radius:12px;
    width:100%;
    color:#000;
    margin-top:auto;
    margin-bottom:auto;
}
.mapcontainer{
    background-color:#fff;
    width:75%;
    right:0px;
    margin-left:auto;
    height:100%;
    position:absolute;
    border-radius:12px;
    display:flex;
}

