body {
  background-color: #0a1d2e;
}
.top {
  margin-top: 100px;
  color: #fff;
}

.margin{
  margin-top:75px;
}



.maps {
  
  position: center;
  margin-left:5%;
  width:100%;
  height:500px;
  display:absolute;


}
.container {
  justify-content: center;
  display: flex;
  align-items:center;
  margin-left:5%;
}

.leaflet-container {
  width: 100%;
  height:500px;
  ;
}
