@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap");

.parentcontainer {
  position: relative;
  height: 10%;
  border-style: solid;
  font-family: "Inter", sans-serif;
}
.bg-glass {
  background-color: hsla(0, 0%, 90%, 0.3) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
.container {
  
  height: 20vh;
  border-radius: 12px;
  border: 2px;
  color:#fff;
}
.section1 {
  float: left;
  position: relative;
  width: 30%;
  font-family: "Inter", sans-serif;
  font-size: 25px;
}
.section2 {
  float: left;
  position: relative;
  width: 36%;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  height: 100%;
}
.section3 {
  float: left;
  position: relative;
  width: 34%;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  height: 100%;
}

.top {
  margin-top: 7%;
  position: relative;
  margin-left: 3%;
}

.down {
  margin-left: 3%;
  margin-top: 15px;
}
